@media only screen and (min-width: 70rem) {

    /* HEADER */

    header {
        margin: 0;
        padding: 0;
        background-color: #457b9d;
        height: 100%;
        align-items: center;
    }

    nav ul {
        display: flex;
        margin-left: 2vw;

        /* This is made in the ul and not in the li so it only shows 1 line in the left side and not in each of the index items */
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        list-style-type: none;
    }

    

    h1, h2, p {
        padding: 0;
        margin: 0;
        padding-left: 2vw;
    }

    main h1 {
        padding-top: 25px;
    }

    h2 {
        color: #1d3557;
    }

    header h1, header p {
        color: white;
    }

    header h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    header p {
        font-size: 1.3rem;
    }

    #logo {
        height: 120px;
        width: auto;
        align-items: center;
        padding: 10px;
    }

    .only_name {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

    #sm1 {
        width: 30px;
        margin: 5px;
        margin-left: 20px;
    }

    #sm2 {
        width: 30px;
        margin: 5px;
        margin-right: 30px;
        margin-left: 20px;
    }




    .date {
        width: 50%
    }




    /* [ GRIDS & LAYOUT ] */

    .event {
        background-color: rgb(197, 230, 241);
        padding: 20px;
        margin-right: 20px;
        
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .weather {
        background-color: rgb(197, 230, 241);
        padding: 20px;
        margin-right: 20px;
        
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .join {
        background-color: rgb(197, 230, 241);

        padding: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .hero {
        margin-right: 20px;
        height: auto;
        
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    
    .news {
        background-color: rgb(197, 230, 241);

        margin-right: 20px;
        margin-bottom: 0px;
        padding: 20px;
        
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .spotlights {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        height: 900px;
    }

    .sp1 {
        height: 100%;
        background-color: white;
        padding: 20px;
    }
    
    .sp2 {
        height: 100%;
        margin-bottom: 20px;
        background-color: white;
        padding: 20px;
    }
    
    .sp3 {
        height: 100%;
        display: block;
        background-color: white;
        padding: 20px;
    }

    nav {
        background-color: #457b9d;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    
    }

    nav button {display: none;}






    footer {
        display: flex;
        flex-direction: column;
        color: rgb(197, 230, 241);
    }

    footer hr {
        border: 1px solid rgb(197, 230, 241, 0.3);
        width: 75%;
    }

    .box1a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box1_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .box1 {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    #logo2 {
        height: 75px;
        width: auto;

        margin: 20px;
    }

    .box3 {
        text-align: center;
        margin-bottom: 10px;
    }




    /*  ===========  */
    /*   DIRECTORY   */
    /*  ===========  */


    /*  list  */

    .list {
        margin: 3rem;
    }

    .list section:nth-child(odd) {
        background: #ddeaf3;
    }

    .list section {
        display: grid;
        grid-template: auto / repeat(4, minmax(auto, 1fr));
        text-align: start;
        padding: 2rem;
    }

    .list section h2{
        text-align: start;

    }

    .list img{
        display: none;
    }


    /*  gallery  */
    .gallery{
        display: grid;
        grid-template: auto / repeat(3, minmax(auto, 1fr));

        border-radius: 30px;
        padding: 1rem;
    }

    .gallery section img{
        display: block;
        margin-left: auto;
        margin-right: auto;

        max-width: 250px;
        max-height: 200px;
    }

    .gallery section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ddeaf3;
        border-radius: 30px;
        padding: 25px;
        margin: 1rem;
    }

    .gallery section p, h2{
        display: block;
        text-align: center;
        padding: 0;
        margin: 1rem 0 0 0;
    }

    .select_view {
        margin: auto;
        margin-top: 1.5rem;
        width: 20%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .btn_select {
        background-color: #afcbe0;
    }
}