@media only screen and (max-width: 30rem) {

    .nav_toggle {
        margin: 0;
        padding: 0;
    }

    .services_box h1 {
        font-size: 1.2rem;
    }

    .services_box {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    }


    .kitchenette {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .family_history {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .lounge {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    
    .workout {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    
    .lunchrooms {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
    .playroom {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    
    .more {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }


    .services_banner {
        display: flex;
        flex-direction: column;
    }

    .banner {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .banner img {
        height: 100px;
    }
    
    .inside_box {
        position: initial;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}